/*custom font*/
@font-face {
  font-family: personalFont;
  src: url("../fonts/BrodoThinGrunge.otf")
}
@font-face{
  font-family :normalFont;
  src: url("../fonts/AlbertusNovaBlack.woff")
}
@font-face{
  font-family: lightFont;
  src: url("../fonts/AlbertusNovaLight.woff");
}

/************* 
filter section
*************/
h2{
  color:var(--headerColor) ;
  font-family: 'personalFont', sans-serif;
  font-size :var(--headerSize);
  letter-spacing: 0.25rem ;
  margin-bottom:1rem ;
  margin-top: 3rem ;
  text-align: center ;
}
/*filter input field */
article .filter-search{
  width: 90%;
  position: relative;
  display: flex;
  margin: 0 auto ;
  z-index: 1;
}
article .searchTerm {
  background :transparent ;
  width: 100%;
  border: 1px solid #f2f2f2;
  border-right: none;
  padding: 0.3125rem;
  border-radius: 0.3125rem 0 0 0.3125rem;
  outline: none;
  color: #fff;
  font-family : lightFont;
}
article .searchTerm:focus{
  color: #fff ;
}
article .searchButton {
  width: 2.5rem ;
  height: 3.125rem;
  border: 1px solid #fff;
  background: var(--linearGradient) ;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
em.guide{
  color:#777;
  display :block ;
  font-size :0.75rem ;
  font-family: lightFont ;
  margin: 1rem 5%;
}
/*movies*/
.movies{
  color :#fff ;
  display :grid ;
  grid-gap :1.25rem;
  grid-template-columns : 1fr;
  padding: 1rem ;
  place-items: center ;
}
.movies div{
  background :#333;
  box-shadow: 0 15px 30px rgba(0,0,0,0.30), 0 11px 8px rgba(0,0,0,0.22);
  color: #fff 
}
.movies div img{
  border: 2px solid #f2f2f2;
  display: block ;
  height :auto ;
  margin: 1rem auto ;
  max-width :90%;
}
.movies div p{
  font-family :normalFont ;
  font-size :1.5rem ;
  padding: 1.5rem 1rem 0.5rem; 
  text-align: center ;
  text-shadow :1px 1px 4px rgba(245, 79, 19, 1) ;
}
.movies div p ~ a{
  background :var(--linearGradient);
  border :0;
  border-radius :0.5rem;
  color:#f2f2f2 ;
  cursor: pointer;
  display:block ;
  font-family: normalFont;
  font-size :1rem ;
  height :3rem ;
  outline: none ;
  margin: 2rem auto;
  padding-top: 0.75rem ;
  text-align: center ;
  text-decoration: none ;
  text-shadow: 1px 0 3px #222, 0 1px 3px #222, -1px 0 3px #222, 0 -1px 3px yellow;
  width: 40%;
}
.movies div p ~ a:hover {
  background: #000;
  border :1px solid #fff ;
  transform: scale(1.4);
}
/**********
MEDIA QUERY 
**********/
@media (min-width:48rem){
  .movies{
    grid-gap :2rem;
    grid-template-columns :1fr 1fr;
    grid-template-rows: auto;
  }
  .movies div{ 
    height:auto;
  }
}
/*larger screens**/
@media (min-width:62rem){
  article .filter-search{
    width: 50%;
    display: flex;
    margin: 0 auto ;
    z-index: 1;
  }
  .movies{
    grid-template-columns :repeat(3, 1fr);
  }
}
/**laptops**/
@media (min-width:87rem){
  .movies{
    grid-template-columns :repeat(4, 1fr);
  }
}