/*custom font*/
@font-face {
  font-family: personalFont;
  src: url("../fonts/BrodoThinGrunge.otf")
}
@font-face{
  font-family :normalFont;
  src: url("../fonts/AlbertusNovaBlack.woff")
}
@font-face{
  font-family: lightFont;
  src: url("../fonts/AlbertusNovaLight.woff");
}
/**********
   poster 
**********/
.poster{
  margin-top: 2rem ;
  max-width: 100vw;
  padding :0 1rem ;
}
.poster h2{
  color: var(--headerColor);
  font-family: 'personalFont', sans-serif;
  font-size :var(--headerSize);
  font-weight: bolder;
  letter-spacing: 0.25rem;
  padding: 0 1rem 1rem ;
}
.poster div{
  border: 2px solid #f3f3f3;
  border-radius :0.5rem ;
  max-width: 100vw;
  margin: 0 auto ;
  position :relative ;
}
.poster div img{
  border-bottom: 3px solid #444;
  border-top-left-radius :0.5rem ;
  border-top-right-radius :0.5rem ;
  min-height: 50vh ;
  width :100%;
}
.poster div a ~ p{
  color:#fff ;
  font-family: 'normalFont', sans-serif;
  font-size :2.5rem;
  padding :1rem 0 ;
  text-align: center ;
  text-shadow :3px 3px 4px rgba(245, 79, 19, 1) ;
}

/**********
  Others
**********/
.others{
  display :grid;
  font-family: 'normalFont', sans-serif;
  grid-template-columns :1fr ;
  grid-template-rows :auto ;
  margin-top: 4rem ;
  padding: auto 0;
  place-items: center ;
  max-width :100vw;
}
.others .others_content{
  background :#333;
  border-top: 0.4rem solid #000 ;
  color: #f2f2f2;
  display :flex;
  flex-direction :row ;
  flex-wrap :nowrap ;
  height :11rem;
  min-width :100vw ;
  text-decoration :none ;
}
.others a img{
  align-self: stretch ;
  width: 45vw!important ;
  height: auto ;
  margin-right :1rem ;
}
.others_content div{
  justify-content: space-between ;
  display :flex ;
  flex-direction :column ;
  padding: 1rem 0.5rem 1rem 0;
}
.others_content img:hover{
  transform: scale(1.8);
}
.others_content div :first-child{
  color: var(--headerColor) ;
  text-transform :uppercase ;
}
.others_content div :nth-child(2){
  font-family: lightFont;
}

.all-movies{
  background :var(--linearGradient);
  border :0;
  border-radius :0.5rem;
  color:#f2f2f2 ;
  display:block ;
  font-family: normalFont;
  font-size :1rem ;
  height :3rem ;
  outline: none ;
  margin: 2rem auto;
  padding-top: 0.75rem ;
  text-align: center ;
  text-decoration: none ;
  text-shadow: 1px 0 3px #222, 0 1px 3px #222, -1px 0 3px #222, 0 -1px 3px yellow;
  width: 11rem ;
}
.all-movies:hover {
  background: #000;
  border :1px solid #fff ;
  transform: scale(1.4);
}
.others-t{
  display: none;
}
/**********
MEDIA QUERY 
**********/
@media (min-width:48rem){
  .others{
    display: none;
  }
  .poster div img{
    max-height: 90vh ;
  }

  .others-t{
    display: grid;
    grid-gap: 2rem !important;
    grid-template-columns :1fr 1fr;
    grid-template-rows: auto;
    margin-top: 4rem;
    padding: 0 1rem;
    place-items: center;
    color: #f2f2f2;
  }
  .others-t .others_content-t{
    background: #333;
    cursor:pointer;
    display :grid;
    grid-template-rows:4fr 1fr;
    grid-gap:2rem !important;
    place-items: center;
    width: 100%;
  }
  .others_content-t img{
    width: 100%;
  }
  
  .others_content-t div{
    place-items: center;
    display :grid ;
    grid-template-rows:1fr;
    grid-row-gap:1rem;
    padding: 1rem ;
  }
  .others_content-t img:hover{
    transform: scale(1.8);
  }
  .others_content-t div :first-child{
    color: var(--headerColor) ;
    font-size: 1.5rem;
    text-align: center;
    text-transform :uppercase ;
  }
  .others_content-t div :nth-child(2){
    font-family: lightFont;
    text-align: center;
  }
}
/**********
laptop 
**********/
@media (min-width:6rem){
  .poster div{
    max-width: 80vw;
  }
  .poster div a ~ p{
    font-size :3rem;
  }

  .others-t{
    grid-template-columns :repeat(3, 1fr);
  }
  .others-t .others_content-t{
    background: #333;
    cursor:pointer;
    display :grid;
    grid-template-rows:4fr 1fr;
    grid-gap:2rem !important;
    place-items: center;
    width: 100%;
  }
}